# Dependencies
node_modules

# Build outputs
dist
.next

# Turbo
.turbo

# Environment variables
.env
.env.local

# Supabase
supabase/.temp

# TypeScript build info
*.tsbuildinfo

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
